body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #ffcccc; /* Cor de fundo rosa */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ffcccc; /* Cor de fundo rosa */
    color: #fff;
}
img {
    width: 200px;
    
}
h1 {
    color: black;
}
p {
    color: black;
}

